body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

header{
    position: relative;
    height: 200px;
    background-color: #1cb5ff;
}

header > div {
    color: white;
    font-size: 50px;
    padding: 50px;
}

#input{
    margin: 40px 0 60px;
    font-size: 20px;
}

#shopping-list{
    font-size: 20px;
    display: inline-block;
}

#list li {
    text-align: left;
}

